<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clim.chat.dao.ChatDao">
    <select id="query_friendId" resultType="String">
        select atten_id from useratten where user_id =#{user_id} and status = 2
    </select>

    <select id="query_friend_user" resultType="com.clim.chat.model.dto.User">
        select user_id,user_aiais,user_image from user where user_id in 

        <foreach collection="list" index="index" item="item" open="("
                 separator="," close=")">
            #{item}
        </foreach>
    </select>
    
    <select id="query_friend_lastmsg" resultType="com.clim.chat.model.dto.LastMsg">
        select content,datetime from pri_message
        where user_id = #{user_id} and reply_id = #{reply_id}
           or user_id = #{reply_id} and reply_id = #{user_id}
        ORDER BY datetime DESC Limit 1
    </select>

    <select id="un_read_count" resultType="Integer">
        select count(id) from pri_message
        where user_id = #{user_id} and reply_id = #{reply_id}
          and is_read=1
    </select>

    <select id="record" resultType="com.clim.chat.model.vo.RecordVo">
        select user_id,content,datetime from pri_message where
        user_id = #{user_id} and reply_id = #{reply_id}
           or user_id = #{reply_id} and reply_id = #{user_id}
        ORDER BY datetime ASC
    </select>

    <update id="unread">
        update pri_message set is_read = 2 where
         user_id = #{user_id} and reply_id = #{reply_id}
           or user_id = #{reply_id} and reply_id = #{user_id}
    </update>

    <insert id="send">
        insert into pri_message(user_id,reply_id,content,is_read)
        values (#{from},#{to},#{content},1)
    </insert>

    <select id="urcount" resultType="Integer">
        select count(id) from pri_message
        where reply_id =#{user_id} and is_read =1
    </select>
</mapper>